<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../../ccs/article_technology.css" />
	<title>驼峰式命名法</title>
</head>

	<!--面包屑导航开始-->
	<div id="navs">
		<p>
			<span>你当前的位置：</span>
			<a href="#">首页</a> / 
			<a href="#">技术文章</a> / 
			<a href="#">驼峰式命名法</a>
		</p>
	</div>
	<!--面包屑导航结束-->
	
	<!--文章区域开始-->
	<div id="article">
		
		<!--文章标题-->
		<div class="article-title">
			<h3>JQ操作驼峰式命名法</h3>
		</div>
		
		<!--文章内容-->
		<div class="article-con">
		
			<!--文章内容部分-->
			<div class="article-con">
		
				<!--文章内容部分内容-->
				<div class="article-con-content">
					<ol style="list-style:none">
						<li>
							<h4 style="display:inline-block">驼峰式大小写：</h4>
						
							<ul>
								<li>
									单词之间不以空格、连接号或者底线连结（例如不应写成：camel case、camel-case或camel_case形式）。共有两种格式：
								</li>
								<li>
									小驼峰式命名法（lower camel case）：【常用】
									<br />
									第一个单字以小写字母开始，第二个单字的首字母大写。例如：firstName、lastName。
								</li>
								<li>
									大驼峰式命名法（upper camel case）：
									<br />
									每一个单字的首字母都采用大写字母，例如：FirstName、LastName、CamelCase，也被称为 Pascal 命名法。
								</li>
							</ul>
						</li>
						
					</ol>

				</div>
			</div>
			
			
			
		</div>
		
		<div class="article-Theend">
			
			<p class="article-end">
				<span>------->>本·文·完</span>
			</p>
			
		</div>
		
	</div>
	<!--文章区域结束-->
	
</body>
</html>