<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../../ccs/article_technology.css" />
	<title>Git入门</title>
</head>

	<!--面包屑导航开始-->
	<div id="navs">
		<p>
			<span>你当前的位置：</span>
			<a href="#">首页</a> / 
			<a href="#">技术文章</a> / 
			<a href="#">Git入门</a>
		</p>
	</div>
	<!--面包屑导航结束-->
	
	<!--文章区域开始-->
	<div id="article">
		
		<!--文章标题-->
		<div class="article-title">
			<h3>Git入门</h3>
		</div>
		
		<!--文章内容-->
		<div class="article-con">
		
			<!--文章内容部分-->
			<div class="article-con">
		
				<!--文章内容部分内容-->
				<div class="article-con-content">
					<ol style="list-style:none">
						<li>
							<h4 style="display:inline-block">一．准备工具</h4>
							<ul>
								<li>
									1.github官网上注册账号<a href="https://github.com/" target="_blank">https://github.com/</a>  <br />
									注释：GitHub是英文网站，(对于英语不太好的学员建议可用chrome浏览器右键翻译工具翻译看,但推荐看英文的)
								</li>
								<li>
									2.安装github客户端(git免安装包) <br />
									<img src="../../images/gitimgs/1.png" alt="" /> <br />
									*注册和安装完后，github和git都登陆同一账号。
								</li>
							</ul>
						</li>
					
					</ol>
				</div>
			
				</div>
			</div>
			
			
			
		</div>
		
		<div class="article-Theend">
			
			<p class="article-end">
				<span>------->>本·文·完</span>
			</p>
				
		</div>
		
	</div>
	<!--文章区域结束-->
	
</body>
</html>