	<!DOCTYPE html>
	<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../../ccs/article_technology.css" />
		<title>搭建个人博客--如何申请域名（2）</title>
		<style>
			.article-con-content img{
				max-width:800px;
			}
		</style>
	</head>
	
		<!--面包屑导航开始-->
		<div id="navs">
			<p>
				<span>你当前的位置：</span>
				<a href="#">首页</a> / 
				<a href="#">技术文章</a> / 
				<a href="#">搭建个人博客--如何申请域名（2）</a>
			</p>
		</div>
		<!--面包屑导航结束-->
		
		<!--文章区域开始-->
		<div id="article">
			
			<!--文章标题-->
			<div class="article-title">
				<h3>如何申请域名</h3>
			</div>
			
			<!--文章内容-->
			<div class="article-con">
			
				<!--文章内容部分-->
				<div class="article-con">
			
					<!--文章内容部分内容-->
					<div class="article-con-content">
							<ol style="list-style:none">
								<li>
									1.首先，先登录阿里云 https://www.aliyun.com ，注册登录自己的账密。<br />
									<img src="../../images/blogimgs/blog2/1.png" alt="" />
								</li>
								<li>
									2.鼠标移到 “全部导航”---》“产品”---》“域名与网站”--》（点击）“域名注册” <br />
									<img src="../../images/blogimgs/blog2/2.png" alt="" />
								</li>
								<li>
									3.搜索栏输入决定好的域名，如我的：lipeifeng，然后点击“查域名” 。<br />
									<img src="../../images/blogimgs/blog2/3.png" alt="" /> <br />
									弹出新页面，可以根据你的个人爱好及经济实力选择后缀名：（我的是lipeifeng.top）, <br />
									然后点击“加入清单”--》“去结算” 。 <br />
									<img src="../../images/blogimgs/blog2/4.png" alt="" /> <br />
								</li>
								<li>
									4.选择 “个人”、“创建信息模板”（填信息）、“免费开启”、“立即购买” --》付款 <br />
									<img src="../../images/blogimgs/blog2/5.png" alt="" />
								</li>
								<li>
									5.回到首页，点击“控制台”，跳转新页面，可查看域名具体信息，<br />
									以及对新申请的域名进行实名认证，等待审核，大概3-5天 <br />
									<img src="../../images/blogimgs/blog2/6.png" alt="" />
									<img src="../../images/blogimgs/blog2/7.png" alt="" />
								</li>
								<li>
									6.当审核通过后，“域名状态”一栏会显示“正常”，即可点击“解析”，<br />
									跳转出新页面---》点击“添加解析”，弹出窗口填写信息<br />
									<img src="../../images/blogimgs/blog2/8.png" alt="" /> <br />
									“添加解析”信息填写： <br />
									<img src="../../images/blogimgs/blog2/9.png" alt="" /> <br />
									<img src="../../images/blogimgs/blog2/10.png" alt="" /> <br />
									（1）“记录类型”： <br />
									选择“CNAME”：将域名指向另外一个域名 <br />
									（2）“主机记录”可填 “www”表示以www.域名 <br />
									或者填“@”表示 直接解析 主域名 <br />
									（3）“解析线路”---》默认 <br />
									（4）“记录值”：<br />
									我们是要与github项目绑定，直接把github上的项目名复制过来 <br />
									/*** <br />
									如果“记录类型”是“A”, <br />
									则需要cmd  $ping “github上的项目名”(无需引号)， <br />
									得到ip值填写到“记录值” <br />
									<img src="../../images/blogimgs/blog2/11.png" alt="" /> <br />
									同样，如果你的域名通过了，也可ping查看 <br />
									**/ <br />
									（5）“TTL值”：10分钟 即可 <br />
									设置后点击确认按钮：<br />	
									<img src="../../images/blogimgs/blog2/12.png" alt="" /> <br />
								</li>
							</ol>
					</div>
	
				</div>
				
				
				
			</div>
			
			<div class="article-Theend">
				
				<p class="article-end">
					<span>------->>本·文·完</span>
				</p>
					
			</div>
			
		</div>
		<!--文章区域结束-->
		
	</body>
	</html>