<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../../ccs/article_technology.css" />
	
	<title>scrollReveal.js-多次动画</title>
	
</head>
<body>
	<!--面包屑导航开始-->
	<div id="navs">
		<p>
			<span>你当前的位置：</span>
			<a href="#">首页</a> / 
			<a href="#">技术文章</a> / 
			<a href="#">scrollReveal.js-多次动画</a>
		</p>
	</div>
	<!--面包屑导航结束-->
	
	<!--文章区域开始-->
	<div id="article">
		
		<!--文章标题-->
		<div class="article-title">
			<h3 style="width:300px">scrollReveal.js-多次动画</h3>
		</div>
		
		<!--文章内容-->
		<div class="article-con">
		
			<!--文章内容部分-->
			<div class="article-con">
		
				<!--文章内容部分内容-->
				<div class="article-con-content">
					<ol style="list-style:none">
						<li>
							<h4 style="display:inline-block">一.scrollReveal.js介绍</h4>
							<ul>
								<li><a href="scrollReveal_example.html" target="_blank">点击可查看动画效果</a></li>
								<li>
									和 WOW.js 一样，scrollReveal.js 也是一款页面滚动显示动画的 JavaScript，能让页面更加有趣，更吸引用户眼球。<br />
									不同的是 WOW.js 的动画只播放一次，而 scrollReveal.js 的动画可以播放一次或无限次；<br />
									WOW.js 依赖 animate.css，而 scrollReveal.js 不依赖其他任何文件。
								</li>
								<li>
									浏览器兼容: <br />
									虽然 scrollReveal.js 不依赖 animate.css，但它的动画也是用 CSS3 创建的，所以它不支持 IE10 以下的浏览器。<br />
									IE6、IE7 等老旧浏览器不支持 CSS3 动画，所以没有效果，并且因为不支持一些属性或方法会报错。<br />
									为了达到更好的兼容，最好加一个浏览器及版本判断。
									<xmp>/*放置body之后*/
<script src="js/scrollReveal.js"></script> 
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
		window.scrollReveal = new scrollReveal({reset: true});
	})();
};
</script></xmp>
								</li>
							</ul>
						</li>
						<li>
							<h4 style="display:inline-block">二.scrollReveal.js使用方法</h4>
							<ul>
								<li>
									1.引入文件 <br />
									<xmp><script src="js/scrollReveal.js"></script></xmp>
								</li>
								<li>
									2.HTML代码 <br />
									<xmp><div data-scroll-reveal>jack</div></xmp>
									必须给元素加上 data-scroll-reveal 属性，加上之后会执行默认的动画效果，你也可以自定义改属性以显示不同的动画效果，如： <br />
									<xmp><div data-scroll-reveal="enter left and move 50px over 1.33s">jackie/div>
<div data-scroll-reveal="enter from the bottom after 1s">Hello world!</div>
<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px">iPhone 6</div></xmp>
<pre>上面说了可以自定义 data-scroll-reveal 属性，下面来看看该属性的关键词和值: 
enter       说明: 动画起始方向      值: top | right | bottom | left 
move        说明: 动画执行距离      值: 数字，以 px 为单位 
over        说明: 动画持续时间      值: 数字，以秒为单位 
after/wait  说明: 动画延迟时间      值: 数字，以秒为单位</pre>
									也就是可以像这样写 HTML：<br />
									<xmp><div data-scroll-reveal="wait 0.3s, then enter left and move 40px over 2s">jack</div>
<div data-scroll-reveal="enter from the left after 0.3s, move 40px, over 2s">Hello </div>
<div data-scroll-reveal="enter left move 40px over 2s after 0.3s">iPhone 6</div>
<div data-scroll-reveal="enter left, move 40px, over 2s, wait 0.3s">love</div></xmp>
									即可以在 data-scroll-reveal 属性里填充（添加）一些类似编程的“语句”，使其更有可读性，scrollReveal.js 支持以下“语句”：<br />
									<span style="color:red">from / the / and / then / but / with / ,</span>
								</li>
								<li>
									3.JavaScript
									<xmp>window.scrollReveal = new scrollReveal();</xmp>
									或者，elem 为动画元素的任何级别的父元素 <br />
									<xmp>
window.scrollReveal2 = new scrollReveal({elem: document.getElementById('srcontainer')});
									</xmp>
								</li>
							</ul>
						</li>
						<li>
							<h4 style="display:inline-block">三.scrollReveal.js高级用法</h4>
							<ul>
								<li>
									1.自定义默认值 <br />
									可以更改 scrollReveal.js 的默认配置，如： <br />
									<xmp>var config = {
    after: '0s',
    enter: 'bottom',
    move: '24px',
    over: '0.66s',
    easing: 'ease-in-out',
    viewportFactor: 0.33,
    reset: false,
    init: true
};
window.scrollReveal = new scrollReveal(config);</xmp>
								</li>
								<li>
									2.动态HTML <br />
									scrollReveal.init() 方法可以检测所有含有 data-scroll-reveal 属性的元素，并进行初始化，所以对于动态加载的元素，可以这样操作：<br />
									<xmp>var config = {
    enter: 'bottom',
    move: '40px',
    over: '0.16s',
    reset: true,
    init: false
};
window.scrollReveal = new scrollReveal(config);
var data = {newElementHtml: '<div data-scroll-reveal>jack</div>'};
var container = document.getElementById('#container');
container.innerHTML(data.newElementHTML);
scrollReveal.init();</xmp>
								</li>
							</ul>
						</li>
					</ol>
				</div>
			</div>
			
			
			
		</div>
		
		<div class="article-Theend">
			
			<p class="article-end">
				<span>------->>本·文·完</span>
			</p>
			
		</div>
		
	</div>
	<!--文章区域结束-->
	
</body>
<script>

</script>
</html>